{% extends 'base.html' %}
{% load static %}
{% block title %}About toystore{%endblock %}
{% block meta_description %}Best Toysstore!{% endblock %}

{% block content %}

<br
  <!-- ****** About Us Area Start ******* -->
  <section class="dent">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p> a</p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Helpful</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="d-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">10</span></h2>
            <h5>Years Of Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">200</span>+</h2>
            <h5>Happy Customer</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">5</span></h2>
            <h5>Local Store</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">3</span></h2>
            <h5>Owner</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

 
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>Local toy store with over ten years of experience and hard working employees, To bring the best toys and clothing to kids, we bring together old and new brands, 
                    To ensure that all customers are satisfied</h5>
                <h6>Our goal is to provide the best products and services to our customers, so join over 200 customers and make a purchase today</h6>
                <p>Please contact the 3 owners below if you have further questions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

  <!-- ***** owner ***** -->
  <section class="owner-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2 style="color:rgb(243, 243, 245)">Owner</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row" style="color:rgb(243, 243, 245)">
        <!-- Single owner Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-owner-area mb-100">
            <!-- owner Content -->
            <div class="owner-content">
              <!-- Social Info -->
              <div class="owner-social-info">
                <a href="https://www.facebook.com/Toysstore-111655058205295"><i class="fa fa-facebook"></i></a>
              </div>
              <!-- owner Info -->
              <div class="owner-info bg-gradient-overlay">
                <h5>Clyde Tarley</h5>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single owner Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-owner-area mb-100">
            <!-- Owner Content -->
            <div class="owner-content">
              <!-- Social Info -->
              <div class="owner-info">
                <a href="https://www.facebook.com/Toysstore-111655058205295"><i class="fa fa-facebook"></i></a>
              </div>
              <!-- owner Info -->
              <div class="owner-content bg-gradient-overlay">
                <h5>Jane Tarley</h5>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single owner Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-owner-area mb-100">
            <!-- owner Content -->
            <div class="owner-content">
              <!-- Social Info -->
              <div class="owner-social-info">
                <a href="https://www.facebook.com/Toysstore-111655058205295" target="_blank" rel="noopener nofollow"><i class="fa fa-facebook"></i></a>
              </div>
              <!-- owner Info -->
              <div class="owner-info bg-gradient-overlay">
                <h5>Ted Tarley</h5>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** owner Area End ***** -->

  


{% endblock %}